In [186]:
import numpy as np
import pandas as pd
import random
import nltk
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [187]:
df = pd.read_csv('Job Suggestions(1).csv', names = ['industry','job_title','description','job_link'])
df

,industry,job_title,description,job_link
0,Internet,Associate Editor,Responsibilities: Work with our staff writers ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...
1,Computer Software,Sales and Marketing Superstar,- Formulation and execution of sales strategy ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...
2,Internet,Visual Designer,Work with design and product management to cre...,https://www.linkedin.com/jobs?viewJob=&jobId=4...
3,"Telecommunications, Information Technology and...",Senior Solution Architect - Voice SME,Senior Solution Architect - Voice SME will be...,https://www.linkedin.com/jobs?viewJob=&jobId=4...
4,Computer Software,Crossover Software Architect - C# - $30/hr,"Ready to make $60,000 USD while working for a ...",https://www.linkedin.com/jobs?viewJob=&jobId=4...
...,...,...,...,...
1674,"Management Consulting, Design, Marketing and A...",Visualiser,"Ideation, Converting a brief into a communicat...",https://www.linkedin.com/jobs?viewJob=&jobId=5...
1675,"Information Technology and Services, Computer ...",Content Marketing Specialist,The Opportunity: We are looking for a Conten...,https://www.linkedin.com/jobs?viewJob=&jobId=4...
1676,Entertainment,Associate Consultant - Social,We are looking for someone who is young and en...,https://www.linkedin.com/jobs?viewJob=&jobId=4...
1677,Computer Software,Java + UI Developer/Lead/Architect,Summary The candidate will be involved in requ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...
1678,Human Resources,Global IT Sourcer - $30k,If you are an energetic and dynamic individual...,https://www.linkedin.com/jobs?viewJob=&jobId=4...

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   industry     1679 non-null   object
 1   job_title    1679 non-null   object
 2   description  1679 non-null   object
 3   job_link     1679 non-null   object
dtypes: object(4)
memory usage: 52.6+ KB

In [189]:
df.isna().sum()

industry       0
job_title      0
description    0
job_link       0
dtype: int64

In [190]:
classes = df['job_title'].value_counts()
classes.head()

Software Engineer               82
Mobile Application Developer    46
Graphic Designer                44
Software Developer              38
Visual Designer                 38
Name: job_title, dtype: int64

In [191]:
job_id = []
j = 1000
for i in df['job_title']:
    job_id.append(j)
    j = j + 1
df['job_id'] = job_id

In [192]:
adv = ['fair remuneration','creativity','routine','ease of work','smoothness','employee first']
adv2=[]
for i in df['job_title']:
    q = random.choice(adv)
    adv2.append(q)
df['most_advantage']=adv2

In [193]:
et = ['full time','full time','part time','full time','full time']
et2=[]
for i in df['job_title']:
    q = random.choice(et)
    et2.append(q)
df['Empl_type']=et2

In [194]:
cn=['SwipeWire','SecureSmarter','Dwellsmith','SalePush','Formonix','Branding','Cloudrevel','Seekingon','Medicine','Crowdstage','Hiphonic','QuickSpace','MetConnect','Rentoor','Kiddily','Jumpsync','Conceptual','VisionSwipe','Tourish','Drivemo','Knowza','Composey','Excursy','InvestSpend','Deductly','SiteDept','Metricsilo','Legal Right','Shipplier','SecuriToday','GameEight','Nutrition','TechTack','Digimail']
cn2=[]
for i in df['job_title']:
    q = random.choice(cn)
    cn2.append(q)
df['company']=cn2

In [195]:
c = ['cairo','alexandria','al mansoura','suez','aswan']
c2=[]
for i in df['job_title']:
    q = random.choice(c)
    c2.append(q)
df['city']=c2
df

,industry,job_title,description,job_link,job_id,most_advantage,Empl_type,company,city
0,Internet,Associate Editor,Responsibilities: Work with our staff writers ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1000,routine,full time,Deductly,cairo
1,Computer Software,Sales and Marketing Superstar,- Formulation and execution of sales strategy ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1001,creativity,full time,Digimail,alexandria
2,Internet,Visual Designer,Work with design and product management to cre...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1002,creativity,full time,Formonix,aswan
3,"Telecommunications, Information Technology and...",Senior Solution Architect - Voice SME,Senior Solution Architect - Voice SME will be...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1003,ease of work,full time,Metricsilo,suez
4,Computer Software,Crossover Software Architect - C# - $30/hr,"Ready to make $60,000 USD while working for a ...",https://www.linkedin.com/jobs?viewJob=&jobId=4...,1004,creativity,full time,GameEight,suez
...,...,...,...,...,...,...,...,...,...
1674,"Management Consulting, Design, Marketing and A...",Visualiser,"Ideation, Converting a brief into a communicat...",https://www.linkedin.com/jobs?viewJob=&jobId=5...,2674,ease of work,full time,SecuriToday,alexandria
1675,"Information Technology and Services, Computer ...",Content Marketing Specialist,The Opportunity: We are looking for a Conten...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2675,fair remuneration,full time,SiteDept,aswan
1676,Entertainment,Associate Consultant - Social,We are looking for someone who is young and en...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2676,employee first,full time,VisionSwipe,cairo
1677,Computer Software,Java + UI Developer/Lead/Architect,Summary The candidate will be involved in requ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2677,employee first,full time,VisionSwipe,al mansoura
1678,Human Resources,Global IT Sourcer - $30k,If you are an energetic and dynamic individual...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2678,employee first,full time,SecureSmarter,cairo

In [196]:
df['mex'] = df['job_title'].map(str) + ' ' + df['description'] + ' ' + df['most_advantage'] + ' ' + df['Empl_type'] + ' ' + df['company'] + ' ' + df['city']
df

,industry,job_title,description,job_link,job_id,most_advantage,Empl_type,company,city,mex
0,Internet,Associate Editor,Responsibilities: Work with our staff writers ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1000,routine,full time,Deductly,cairo,Associate Editor Responsibilities: Work with o...
1,Computer Software,Sales and Marketing Superstar,- Formulation and execution of sales strategy ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1001,creativity,full time,Digimail,alexandria,Sales and Marketing Superstar - Formulation an...
2,Internet,Visual Designer,Work with design and product management to cre...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1002,creativity,full time,Formonix,aswan,Visual Designer Work with design and product m...
3,"Telecommunications, Information Technology and...",Senior Solution Architect - Voice SME,Senior Solution Architect - Voice SME will be...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1003,ease of work,full time,Metricsilo,suez,Senior Solution Architect - Voice SME Senior S...
4,Computer Software,Crossover Software Architect - C# - $30/hr,"Ready to make $60,000 USD while working for a ...",https://www.linkedin.com/jobs?viewJob=&jobId=4...,1004,creativity,full time,GameEight,suez,Crossover Software Architect - C# - $30/hr Rea...
...,...,...,...,...,...,...,...,...,...,...
1674,"Management Consulting, Design, Marketing and A...",Visualiser,"Ideation, Converting a brief into a communicat...",https://www.linkedin.com/jobs?viewJob=&jobId=5...,2674,ease of work,full time,SecuriToday,alexandria,"Visualiser Ideation, Converting a brief into a..."
1675,"Information Technology and Services, Computer ...",Content Marketing Specialist,The Opportunity: We are looking for a Conten...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2675,fair remuneration,full time,SiteDept,aswan,Content Marketing Specialist The Opportunity...
1676,Entertainment,Associate Consultant - Social,We are looking for someone who is young and en...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2676,employee first,full time,VisionSwipe,cairo,Associate Consultant - Social We are looking f...
1677,Computer Software,Java + UI Developer/Lead/Architect,Summary The candidate will be involved in requ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2677,employee first,full time,VisionSwipe,al mansoura,Java + UI Developer/Lead/Architect Summary The...
1678,Human Resources,Global IT Sourcer - $30k,If you are an energetic and dynamic individual...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2678,employee first,full time,SecureSmarter,cairo,Global IT Sourcer - $30k If you are an energet...

In [197]:
from nltk.corpus import stopwords
import re
import string
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
stop = stopwords.words('english')
stop_words_ = set(stopwords.words('english'))
wn = WordNetLemmatizer()

def black_txt(token):
    return  token not in stop_words_ and token not in list(string.punctuation)  and len(token)>2   
  
def clean_txt(text):
  clean_text = []
  clean_text2 = []
  clean_text = [ wn.lemmatize(word, pos="v") for word in word_tokenize(text.lower()) if black_txt(word)]
  clean_text2 = [word for word in clean_text if black_txt(word)]
  return " ".join(clean_text2)

In [198]:
df['mex'] = df['mex'].apply(clean_txt)
df

,industry,job_title,description,job_link,job_id,most_advantage,Empl_type,company,city,mex
0,Internet,Associate Editor,Responsibilities: Work with our staff writers ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1000,routine,full time,Deductly,cairo,associate editor responsibilities work staff w...
1,Computer Software,Sales and Marketing Superstar,- Formulation and execution of sales strategy ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1001,creativity,full time,Digimail,alexandria,sales market superstar formulation execution s...
2,Internet,Visual Designer,Work with design and product management to cre...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1002,creativity,full time,Formonix,aswan,visual designer work design product management...
3,"Telecommunications, Information Technology and...",Senior Solution Architect - Voice SME,Senior Solution Architect - Voice SME will be...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,1003,ease of work,full time,Metricsilo,suez,senior solution architect voice sme senior sol...
4,Computer Software,Crossover Software Architect - C# - $30/hr,"Ready to make $60,000 USD while working for a ...",https://www.linkedin.com/jobs?viewJob=&jobId=4...,1004,creativity,full time,GameEight,suez,crossover software architect 30/hr ready make ...
...,...,...,...,...,...,...,...,...,...,...
1674,"Management Consulting, Design, Marketing and A...",Visualiser,"Ideation, Converting a brief into a communicat...",https://www.linkedin.com/jobs?viewJob=&jobId=5...,2674,ease of work,full time,SecuriToday,alexandria,visualiser ideation convert brief communicativ...
1675,"Information Technology and Services, Computer ...",Content Marketing Specialist,The Opportunity: We are looking for a Conten...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2675,fair remuneration,full time,SiteDept,aswan,content market specialist opportunity look con...
1676,Entertainment,Associate Consultant - Social,We are looking for someone who is young and en...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2676,employee first,full time,VisionSwipe,cairo,associate consultant social look someone young...
1677,Computer Software,Java + UI Developer/Lead/Architect,Summary The candidate will be involved in requ...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2677,employee first,full time,VisionSwipe,al mansoura,java developer/lead/architect summary candidat...
1678,Human Resources,Global IT Sourcer - $30k,If you are an energetic and dynamic individual...,https://www.linkedin.com/jobs?viewJob=&jobId=4...,2678,employee first,full time,SecureSmarter,cairo,global sourcer 30k energetic dynamic individua...

In [199]:
tf = TfidfVectorizer()

tfidf_jobid = tf.fit_transform((df['mex']))
tfidf_jobid

<1679x1931 sparse matrix of type '<class 'numpy.float64'>'
	with 66343 stored elements in Compressed Sparse Row format>

# user

In [200]:
df2 = pd.read_csv('aplcdata.csv')
df2

,Position,adv,skills,city,Empl_type,Applicant.ID
0,Visual Designer,employee first,design and product management,cairo,full time,1
1,Global IT Sourcer,ease of work,energetic and dynamic,al mansoura,full time,2

In [201]:
df2['mex2']=df2['Position'].map(str) + ' ' + df2['adv'] + ' ' + df2['skills'] + ' ' + df2['city'] + ' ' + df2['Empl_type']
df2.drop(['Position','adv','skills','city','Empl_type',],axis=1,inplace=True)
df2

   Applicant.ID                                               mex2
0             1  Visual Designer employee first design and prod...
1             2  Global IT Sourcer ease of work energetic and d...

In [202]:
h = 1
index = np.where(df2['Applicant.ID'] == h)[0][0]
user_q = df2.iloc[[index]]
user_q

   Applicant.ID                                               mex2
0             1  Visual Designer employee first design and prod...

In [203]:
user_tfidf = tf.transform(user_q['mex2'])
cos_similarity_tfidf = map(lambda x: cosine_similarity(user_tfidf, x),tfidf_jobid)

In [204]:
output2 = list(cos_similarity_tfidf)

In [205]:
def get_recommendation(top, df_all, scores):
  recommendation = pd.DataFrame(columns = ['ApplicantID', 'JobID',  'title', 'score'])
  count = 0
  for i in top:
      recommendation.at[count, 'ApplicantID'] = h
      recommendation.at[count, 'JobID'] = df['job_id'][i]
      recommendation.at[count, 'title'] = df['job_title'][i]
      recommendation.at[count, 'score'] =  scores[count]
      count += 1
  return recommendation

In [206]:
top = sorted(range(len(output2)), key=lambda i: output2[i], reverse=True)[:10]
list_scores = [output2[i][0][0] for i in top]
get_recommendation(top,df, list_scores)

  ApplicantID JobID            title     score
0           1  2502  Visual Designer  0.386929
1           1  2436  Visual Designer  0.367709
2           1  1412  Visual Designer  0.367333
3           1  2019  Visual Designer  0.367283
4           1  1115  Visual Designer  0.367129
5           1  2110  Visual Designer  0.360102
6           1  1590  Visual Designer   0.34639
7           1  1118  Visual Designer  0.334561
8           1  1454  Visual Designer   0.33436
9           1  2136  Visual Designer  0.332008